<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
      <a class="brand" href="http://localhost:3000/">Agrian 2.0</a>

      <div class="nav-collapse">
        <ul class="nav ">
          <li class="divider-vertical"></li>
          <li>{{#linkTo todos.index activeClass="active"}}Home{{/linkTo}}</li>
          <li><a href="#">Field</a></li>
          <li><a href="#">Processor</a></li>
          <li><a href="#">Label Lookup</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            {{view App.SearchView placeholder="Enter search param" target="App.SearchController" action="search" class="input-medium search-query"}}
            <button class="btn" type="button" {{ action "search" target="App.SearchController" }}>Search</button>
          </li>
          <li class="divider-vertical"></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>