<!DOCTYPE html>
<html>
<head>
  <title>Ember.js • TodoMVC</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/x-handlebars">
  <%= render 'layouts/navbar' %>

  <div class="container">
    <div class="row">
      <div class="span9">
        {{outlet}}
      </div>
      <div class="span3">
        <h2>Tip of the Day:</h2>
        Use Twitter Bootstrap to make web pages scale gracefully to any device.
      </div>
    </div>
  </div>
</script>
</body>
</html>
